/vendor/
node_modules/
npm-debug.log
yarn-error.log

# PHP / Composer
composer.lock

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# App / env
.env
.env.backup
.env.production
storage/*.key

# Testing / tooling
.phpunit.result.cache
.phpunit.cache/
.phpactor.json
auth.json